<h1>Current AQI per country</h1>

<ul>
  <% @stations.each do |station| %>
    <li>
       <%= station.country.name %>
      <%= station.aqi %> 
     
    </li>
  <% end %>
</ul>

<div class="demo">
<form action="#">
<fieldset>
    <label for="country">Select country</label>
    <select name="country" id="country">
      <%= options_for_select(Country.pluck(:name)) %>
    </select>
</fieldset>
</form>
</div>

<canvas id="myChart" width="200px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>

<%= javascript_pack_tag "application" %>