<h1>Top 10 countries with worst Air Quality Index</h1>

<canvas id="myChart" width="200px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>

<%= javascript_pack_tag "application" %>
<h1>Ranking for all countries</h1>
<div class="container">
 <table id="table">
    <thead>
     <tr>
        <th>Rank</th>
        <th>Country</th>
        <th>AQI</th>
     </tr>
    </thead>
    <tbody>
      <%c =1 %>
      <% @stations_all.each do |station| %>
        <tr>
          <td><%= c %>.</td>
          <td><%= station.country.name %></td>
          <td><%= station.aqi %></td>
        </tr>
        <%c +=1 %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="demo">
<form action="#">
<fieldset>
    <label for="country">Select country</label>
    <select name="country" id="country">
      <%= options_for_select(Country.pluck(:name)) %>
    </select>
</fieldset>
</form>
</div>